/** HomePage Company **/
.company {
    position: relative;
    color: white;
}

.company .company-header {
    font-size: 24px;
    color: #9FA85D;
    text-decoration: none;
}

.company .company-header a {
    font-size: 24px;
    color: #9FA85D;
    text-decoration: none;
}

.company .company-intro {
    position: relative;
    color: #fff;
    padding: 0px;
    margin: 5px 0 5px 0;
}

.company .company-intro a {
    color: #9FA85D;
    text-decoration: none;
}

.company .company-teaser{
    position: relative;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    font-family: interstate, 'Trebuchet MS', Helvetica, Arial, Sans !important;
}

.company .company-graph {
    position: relative;
}

.company .company-name {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin: 0;
}

.company .company-name a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.company .company-review {
    position: relative;
    color: #fff;
    padding: 0px;
}

.company-review h3 {
    font-size: 13px;
    font-weight: bold;
    float: left;
}

.review-header {
    font-size: 13px;
    font-weight: bold;
}

.review {
    font-size: 12px;
}

.review-subheader {
    position: relative;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
}

.company .overview {
    text-indent: -999em;
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-top: 0;
    position: absolute;
    top: -6px;
    left: 24px;
    color: #fff;
}
