/** Main layout **/

html, body {
    background: #444 !important;
    font-family: 'Trebuchet MS', Helvetica, Arial, Sans !important;
}

body {
    width: 950px;
    padding: 0 10px;
    margin: auto;
}

a {
    color: #fff;
    font-family: 'Trebuchet MS', Helvetica, Arial, Sans !important;
    text-decoration: none;
}

.text {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    font: interstate;
}

.text a {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Trebuchet MS', Helvetica, Arial, Sans !important;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    color: #869AB1;
    font-size: 18px;
    margin-bottom: 10px;
}

h3 span {
    font-size: 70%;
    font-weight: normal;
}

/** Errors **/

.error-heading {
    color: maroon;
    background: #fff !important;
    font-family: 'Trebuchet MS', Helvetica, Arial, Sans !important;
    -webkit-border-radius: 19px;
    -webkit-box-shadow: 0 2px 0 #fff;
    -moz-border-radius: 16px;
}

.error {
    color: #a10000;
    font-size: 100%;
}

/** Teaser **/
.teaser-header {
    position: relative;
}

.teaser-overview {
    position: relative;
}

.teaser-metadata {
    position: relative;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
}

.teaser-detail {
    position: relative;
    font-size: 12px;
}

.teaser-detail .highlight {
    color: #9FA85D;
}

.detail {
    font-size: 14px;
}

.detail-header {
    text-decoration: underline;
}

/** Blog header **/

#header {
    padding: 5px 0;
    position: relative;

}

#logo {
    display: block;
    height: 49px;
    margin-left: 20px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
}

#logo span {
    color: #f00;
    font-size: 70%;
}

#logo a {
    text-decoration: none;
    color: white;
}

#tools {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 30px;
    right: 20px;
}

#tools a {
    color: #fff;
    text-decoration: none;
}

#title {
    background: #fff;
    padding: 5px 5px 5px 10px;
    margin: 10px 0 0;
    color: #444;
    position: relative;
    -webkit-border-radius: 19px;
    -webkit-box-shadow: 0 2px 0 #fff;
    -moz-border-radius: 16px;
}

.note {
    font-size: 12px;
    color: #fff;
}

/** Table **/

.tableData {
    border: 0;
    padding: 5px 5px 5px 5px;
    width: 100%;
}

.specTable {
    border: 0;
    background: #999999;
    padding: 5px 5px 5px 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.formTable {
    border: 0;
    padding: 5px 5px 5px 5px;
    width: 100%;
}
/** Login Form **/

#title form {
    float: right;
    margin: 0 0 0 0;
    background: #fff;
    padding: 0 0 0 0;
}

#title input {
    background-color: #999;
}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #999;
    display: block;
    float: left;
    font: normal 13px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

/** A little hacky to create arrows without images **/
.about {
    text-indent: -999em;
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-top: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 60px;
}

#title h1 {
    font-size: 64px;
    margin: 0;
}

#title h1 a {
    text-decoration: none;
    color: inherit;
}

#title h2 {
    font-size: 26px;
    margin: 0;
    font-weight: normal;
    display: inline;
}

/** Main Navigation **/

#navigation {
    font-size: 90%;
}

#navigation ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
    padding-top: 0.5em;
}

#navigation li {
    display: inline;
}

#navigation a:link, #navigation a:visited {
    padding: 0.4em 1em 0.4em 1em;
    color: #FFFFFF;
    background-color: #444;
    text-decoration: none;
    border: 1px solid #444;
    font-family: 'Trebuchet MS',interstate, Helvetica, Arial, Sans !important;
}

#navigation a:hover {
    color: #FFFFFF;
    background-color: #444;

}

/** Main content **/

.content {
    padding: 0.5em;
    border: 1px solid white;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

.one-column {
    width: 95%;
    padding: 0.5em;
    text-align: center;
    margin: auto;
}

#left {
    float: left;
    width: 70%;
    padding: 0.5em;
}

#right {
    float: right;
    width: 27%;
    padding: 0.25em;
}

.demo {
    font-size: 10px;
    font: 'Trebuchet MS';
    display: inline;
}

.section-header {
    font-size: 24px;
    color: #9FA85D;
    text-decoration: none;
}

.section-subheader {
    font-size: 20px;
    color: #9FA85D;
    text-decoration: none;
}

.section-overview {
    position: relative;
    color: #fff;
    margin: 5px 0 5px 0;
    font-size: 16px;
}

.section-text {
    font-size: 14px;
    color: #fff;
}


#main {
    background: #444;
    background: -webkit-gradient(linear, left top, left 30%, from(#444), to(#444));
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    padding: 5px;
    width: inherit;
    float: left;
}

.row {
    color: #869AB1;
    margin-bottom: 15px;

}

/** Form **/

form {
    padding: 10px;
    background: #444;
    background: -webkit-gradient(linear, left top, left 60%, from(#444), to(#444));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 16px;
    color: #fff;
}

.inputField {
    color: #000000;
    border: solid 2px #DFDFDF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

textarea {
    color: #000000;
    border: solid 2px #DFDFDF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.labelClass {
    font-size: 10px;
}

input.radio {
    display: inline;
    margin-left: 0.5em;
}

#captcha{
    display: block;
    height: 50px;
}

.success {
    background: #67AD10;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B;
}

/** Pagination **/

#pagination {
    list-style: none;
    padding: 0;
    position: relative;
    color: #869AB1;
    font-size: 90%;
    top: -20px;
    margin-bottom: 30px;
}

#pagination a {
    color: #869AB1;
    font-size: 90%;
}

#pagination #previous {
    position: absolute;
    top: 0;
    left: 0;
}

#pagination #previous:before {
    content: '<< ';
}

#pagination #next {
    position: absolute;
    top: 0;
    right: 0;
}

#pagination #next:after {
    content: ' >>';
}

/** Footer **/

#footer {
    border-top: 1px solid #45597A;
    font-size: 70%;
    padding: 10px 30px;
    text-align: center;
    color: #869AB1;
    margin-top: 30px;
}

#footer a {
    color: #869AB1;
    font-weight: bold;
}


/** Login **/

#login form {
    background: #fff !important;
    border: 0 !important;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

#login label, #password-field label, #username-field label {
    color: #161D28 !important;
    font-size: 110% !important;
}

#cubeField {
    background: #111;
}

#remember-field {
    display: none;
}

.hasError {
    background: pink;
}

.boxed {
    margin: 10px 0 20px 0;
    padding: 20px;
    border: 1px solid #fff;
}

h1.smaller {
    font-size: 17px;
    font-weight: normal;
    color: #BAC36E;
}

#content_2, #content_3 {
    display: none;
}

#radio {
    display: inline;
}

.pointer{
    color: #BAC36E;
    font-weight: bold;
    text-decoration: none;
}

.userLabel {
    float: right;
    margin-right: 0.5em;
}


/** Right Widgets **/

.widget-box {
    color: #fff;
}

.widget-box .header{
	font-size: 24px;
	color: #9FA85D;
	height: 2em;
}

.widget-box .sub-header {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.widget-box .sub-header a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.widget-box .widget-metadata {
    position: absolute;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
	float: right;
	color: #9FA85D;
}

.widget-box .widget-detail {
    position: relative;
    font-size: 13px;
}