#{extends 'main.html' /}
#{set title:'Forgot Password' /}

<div class="row-fluid">
        <div class="page-header">
            <h2>Forgot your Password?</h2>
        </div>
        <div class="span8">
            <div class="well">
                <p>It happens to all of us. Please enter your email address below and we will send you an email with instructions for resetting your password.</p>
                #{form @Users.forgotPassword(), id:"forgotForm", class:"form-horizontal"}
                #{ifErrors}
                    <div class="error">
                        #{errors}
                        ${error}
                        #{/errors}
                    </div>
                #{/ifErrors}
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="userEmail">Email Address</label>
                        <div class="controls inline">
                            <input type="text" id="userEmail" name="userEmail" value="${flash.userEmail}" size="25" class="input-medium">
                        </div>
                        <br>
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Send Password</button>
                        </div>
                        <br>
                    </div>
                </fieldset>
                #{/form}
            </div>
        </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(function() {
    // Expose the form
    $('form').click(function() {
    $('form').expose({api: true}).load();
    });

    // If there is an error, focus to form
    if($('form .error').size()) {
    $('form').expose({api: true, loadSpeed: 0}).load();
    $('form input[type=text]').get(0).focus();
    }
    });
</script>