#{extends 'main.html' /}
#{set title:'Register' /}

<div class="one-column">
       <div class="section-header">
           <span align="center">Join Cube-Talk community...It's Free</span>
       </div>
        <div class="section-overview">
            All new members automatically get access to everything posted on Cube-Talk.com – that's company reviews and more.
            All posted anonymously by those on the inside. A user account is required to post your reviews and rate the organizations.
            <p align="center">Create a Cube-Talk.com account</p>
        </div>
         #{form @Users.registerUser(), id:"registerForm"}
        #{ifErrors}
          <p class="error" align="center">
            #{errors}
              ${error}<br>
            #{/errors}
          </p>
        #{/ifErrors}
        <div class="section-text">
        <table align="center">
            <tr>
                <td align="right">
                    User Alias:
                </td>
                <td align="left">
                    <input type="text" id="user.Alias" name="userAlias" size="25" class="inputField"/>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td align="right">
                    Email:
                </td>
                <td align="left">
                    <input type="text" id="userEmail" name="userEmail" size="25" class="inputField"/>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td align="right">
                    Password:
                </td>
                <td align="left">
                    <input type="password" id="userPassword" name="userPassword" size="25" class="inputField"/>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="checkbox" class="inputField" name="TnC" value="1" id="TnC"> Agree to Terms & Conditions.
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="  Register  ">
                </td>
            </tr>
        </table>
        </div>
         #{/form}
        <div class="section-text">
            All posts are anonymous to other users.
            Your email address or personal information is never displayed, and you can post without signing up with us. And even if you choose to sign up and post, only your chosen alias is displayed on Cube-talk.com.
        </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(function() {
        // Expose the form
        $('form').click(function() {
            $('form').expose({api: true}).load();
        });

        // If there is an error, focus to form
        if($('form .error').size()) {
            $('form').expose({api: true, loadSpeed: 0}).load();
            $('form input[type=text]').get(0).focus();
        }
    });
</script>