#{extends 'main.html' /}
#{set title:'Register' /}

<div id="left">
    <div id="formTable">
       <div id="formHeading">
           Join Cube-Talk community...It's Free
       </div>
         #{form @Users.registerUser(), id:"registerForm"}
        #{ifErrors}
          <p class="error">
            All fields are required!
          </p>
        #{/ifErrors}
            <label for="user.Alias">User Alias</label>
            &nbsp;
            <input type="text" id="user.Alias" name="userAlias"/>
        </br>
            <label for="userEmail">Email</label>
            &nbsp;
            <input type="text" id="userEmail" name="userEmail"/>
        </br>
            <label for="userPassword">Password</label>
            &nbsp;
            <input type="password" id="userPassword" name="userPassword"/>
        </br>
           <input type="submit" value="Register">

         #{/form}
     </div>
</div>
<div id="right">
        #{if homePageArticleList}

                #{toparticlelist articles:homePageArticleList, as:'home' /}

        #{/if}
        #{else}
                <div class="empty">
                    There is currently nothing to read here2.
                </div>
        #{/else}
        #{if homeCompany}

                #{display2 featuredCompany:homeCompany , as:'home' /}

        #{/if}
        #{else}
                <div class="empty">
                    There is currently nothing to read here3.
                </div>
        #{/else}
</div>

<script type="text/javascript" charset="utf-8">
    $(function() {
        // Expose the form
        $('form').click(function() {
            $('form').expose({api: true}).load();
        });

        // If there is an error, focus to form
        if($('form .error').size()) {
            $('form').expose({api: true, loadSpeed: 0}).load();
            $('form input[type=text]').get(0).focus();
        }
    });
</script>