#{extends 'main.html' /}
#{set title:'SignUp with Cube-Talk' /}

<script type="text/javascript">
    $(document).ready(function(){
    $('#registerForm').submit(function(){
    if($('#userAlias').attr('value').length<5){$('#formError').text('Alias should be minimum of 5 characters');return false;}
    if($('#userEmail').attr('value').length==0){$('#formError').text('Please enter a valid email address');return false;}
    if($('#userPassword').attr('value').length<8){$('#formError').text('Password should be minimum of 8 characters');return false;}
    if($('#TnC').attr('checked')){return true;}else{$('#formError').text('Please read & agree to Cube-Talk Terms and Conditions');return false;}
    });
    });
</script>

<div class="row-fluid">
    <div class="page-header">
        <h1>Join Cube-Talk...It's informative</h1>
    </div>
    <div class="well span">
        <p>All new members automatically get access to everything posted on Cube-Talk.com – that's company reviews and more.
        All posted anonymously by those on the inside. A user account is required to post your reviews and rate the organizations.</p>
        <h2 align="center">Create a Cube-Talk.com account</h2>
        <div class="span4 offset3">
            #{form @Users.registerUser(), id:'registerForm', class:'form-horizontal'}
                <div id="formError" class="error">${flash.error}</div>
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="userAlias">User Alias</label>
                                <div class="controls">
                                    <input type="text" id="userAlias" name="userAlias" size="25" class="input-medium" value="${flash.userAlias}"/>
                                </div>
                                <br>
                                <label class="control-label" for="userEmail">Email</label>
                                <div class="controls">
                                    <input type="text" id="userEmail" name="userEmail" size="25" class="input-medium" value="${flash.userEmail}"/>
                                </div>
                                <br>
                                <label class="control-label" for="userPassword">Password</label>
                                <div class="controls">
                                    <input type="password" id="userPassword" name="userPassword" size="25" class="input-medium"/>
                                </div>
                                <br>
                                <label class="checkbox">
                                    <input class="checkbox inline" type="checkbox" name="TnC" value="1" id="TnC"> Agree to Terms & Conditions.
                                </label>
                                <br>
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary">Register Me</button>
                                </div>
                            </div>
                        </fieldset>
                    </p>
                </div>
            #{/form}
        </div>
        <p>All posts are anonymous to other users.
            Your email address or personal information is never displayed, and you can post without signing up with us. And even if you choose to sign up and post, only your chosen alias is displayed on Cube-talk.com.</p>
    </div>

</div>

<script type="text/javascript" charset="utf-8">
    $(function() {
        // Expose the form
        $('form').click(function() {
            $('form').expose({api: true}).load();
        });

        // If there is an error, focus to form
        if($('form .error').size()) {
            $('form').expose({api: true, loadSpeed: 0}).load();
            $('form input[type=text]').get(0).focus();
        }
    });
</script>