#{extends 'main.html' /}
#{set title:'My Cube - Cube-Talk.com' /}

<div id="left">
    <div class="section-header">
        ${user.userAlias} Cubicle
    </div>
    <div class="section-overview">
        #{if anonymousUser}
        ${user.userAlias}'s Reviews<br>
        #{list items:anonymousUser.cubeReviews, as:'reviews'}
          ${reviews.review_heading}
        #{/list}
        #{/if}
        #{else}
            You have not posted any Reviews yet.
        #{/else}
    </div>
</div>
<div id="right">
    #{rightpanel articles:topViewed,  homePageReview:cubeReviewsList, as:'home' /}
</div>