#{extends 'main.html' /}
#{set title:' SignIn Cube-talk.com' /}

<script type="text/javascript">
    $(document).ready(function(){

    $("form#signInForm").submit(function(){
    var email = $('#userEmail').attr('value');
    var pass = $('#userPassword').attr(value');

    var form_data = "userEmail="+userEmail.value+"&userPassword="+userPassword.value;
    $.ajax({
    type: "POST",
    url: "userSave",
    data: form_data,
    success: function(){
    $('form#signInForm').hide(function(){$('div.success').fadeIn();});
    }
    });
    return false;
    });

});
</script>

<div class="row-fluid">
    <div class="page-header">
        <h1>SignIn</h1>
    </div>
    <div class="span8">
        <div class="well">
            #{form @Authenticate.signIn(), id:'signInForm', class:'form-horizontal'}
                #{ifErrors}
                    hello
                    <div class="alert alert-error">
                        <!--#{error 'userPassword' /}-->
                        <!--#{error 'userEmail' /}-->
                        ${flash.error}
                    </div>
                #{/ifErrors}
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="userEmail">User Email</label>
                        <div class="controls inline">
                            <input type="text" id="userEmail" name="userEmail" value="${flash.userEmail}" size="25" class="input-medium">
                        </div>
                        <br>
                        <label class="control-label" for="userPassword">Password</label>
                        <div class="controls inline">
                            <input type="password" id="userPassword" name="userPassword" value="${flash.userPassword}" size="25" class="input-medium">
                        </div>
                        <br>
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Sign In</button>
                        </div>
                        <br>
                        <p>Forgot your password <a href="/users/forgot">click here</a></p>
                        <br>
                        <p>Not a cubetalker yet! <a href="/users/register"><span class="pointer">Join Now.</span></a></p>
                    </div>
                </fieldset>
            #{/form}
        </div>
    </div>
    <div class="span4">

    </div>

</div>