#{extends 'main.html' /}
#{set title:'Express your Experience' /}
<div id="left">
     <div class="section-header">
        Post your Experience Anonymously.
     </div>
	 <div class="section-overview">
	      <ul>
	      #{list items:companies, as:'companyList'}
	          <li>
	            <a href="/Experiences/postexperience/${companyList?.orgName}">${companyList.orgName}</a>
	          </li>
	      #{/list}
	      </ul>
	  </div>
</div>
<div id="right">
    #{rightpanel articles:topViewed,  homePageReview:cubeReviewsList, as:'home' /}
</div>