#{extends 'main.html' /}
#{set title:'Express your Experience' /}
<div class="content">
    <div class="section-header">
        <p align="center">Thank you for your Review</p>
    </div>
    <div class="section-overview">

        <p>Your reviews are anonymous to other users. We will never show your user name, email address, or any personal information with your reviews.</p>
        <p>Once the review is reviewed for any sensitive information such as Client names, employee names and offensive language, It would be published on the site.</p>

    </div>
</div>