#{extends 'main.html' /}
#{set title:'Post your Experience Anonymously' /}

<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $.validator.methods.defaultValue = function(value, element, param){
    return value != param;
    }
    $(document).ready(function() {
    $("div.alert-message").hide();
    // validate signup form on keyup and submit
    var validator = $("#userForm").validate({
    onKeyUp: false,
    rules: {
    jobTitle: {
    required: true,
    minlength: 3
    }
    },
    messages: {
    jobTitle: {
    required: "Please enter your Job Title",
    minlength: "Please enter more than 3 characters"
    }
    },
    // the errorPlacement has to take the table layout into account
    errorPlacement: function(error, element) {
    $("div.alert-message").show();
    $("div.alert-message").html(error);
    $("div.job").addClass("error");
    },

    // specifying a submitHandler prevents the default submit
    submitHandler: function() {
    form.submit();
    },
    });
    });
</script>

<div class="row-fluid">
    <div class="span8">
        <div class="page-header">
            <h2><strong>Review and Rate your company anonymously</strong></h2>
        </div>
    #{form @Experiences.saveUserInfo(), id:'userForm', class:'form-horizontal'}
        <h3>Review anonymously...</br>
            <small>(You don't even have to tell us your job title or city)</small>
        </h3>
        <div class="well">
            <table class="table">
                <tr>
                    <td>
                        <div class="alert-message error" style="display:none;"></div>
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="reviewType">Company Review</label>
                                <div class="controls">
                                    <input type="radio" class="input-medium" checked="true" name="reviewType" id="reviewType" value="CompanyReview">
                                </div>
                            </div>
                            <div class="job control-group">
                                <br>
                                <label class="control-label" for="jobTitle">Your Job Title</label>
                                <div class="controls">
                                    <input type="text" class="input-medium required" maxlength="140" id="jobTitle" name="jobTitle"><div class="help-block">(Required)</div>
                                </div>
                            </div>
                            <div class="control-group">
                                <br>
                                <label class="control-label">Job Status</label>
                                <div class="controls">
                                    <label class="inline radio">
                                        <input type="radio" name="jobStatus" id="job_status1" value="employer" checked="true">Current Employer</input>
                                    </label>
                                    <label class="inline radio">
                                        <input type="radio" name="jobStatus" id="job_status2" value="ex-employer">Ex-Employer</input>
                                    </label>
                                </div>
                                <br>
                                <label class="control-label" for="jobEndingYear">Job Ending Year</label>
                                <div class="controls">
                                    <select class="input-medium" name="jobEndingYear" id="jobEndingYear">
                                        <option value="1">-- Please Select --</option>
                                        <option value="2012" selected="selected">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                    </select>
                                </div>
                                <br>
                                <label class="control-label" for="employerName">Employer</label>
                                <div class="controls">
                                    <input class="input-medium" type="text" name="employerName" value="${company?.orgName}" id="employerName" size="25" disabled="true "/>
                                    <input class="input-medium" type="hidden" name="employerId" value="${company?.id}" id="employerId"/>
                                </div>
                                <br>
                                <label class="control-label" for="employerCountryName">Job Location - Country</label>
                                <div class="controls">
                                    <select class="input-medium" name="employerCountryName" tabindex="23" id="employerCountryName">
                                        <option value="7">Afghanistan</option>
                                        <option value="10">Albania</option>
                                        <option value="8">Algeria</option>
                                        <option value="14">American Samoa</option>
                                        <option value="15">Argentina</option>
                                        <option value="11">Armenia</option>
                                        <option value="4">Aruba</option>
                                        <option value="16">Australia</option>
                                        <option value="18">Austria</option>
                                        <option value="26">Bahamas</option>
                                        <option value="21">Bahrain</option>
                                        <option value="27">Bangladesh</option>
                                        <option value="33">Belarus</option>
                                        <option value="25">Belgium</option>
                                        <option value="24">Bermuda</option>
                                        <option value="30">Bolivia</option>
                                        <option value="29">Bosnia and Herzegovina</option>
                                        <option value="36">Brazil</option>
                                        <option value="250">British Virgin Islands</option>
                                        <option value="39">Bulgaria</option>
                                        <option value="3">Canada</option>
                                        <option value="49">Chile</option>
                                        <option value="48">China</option>
                                        <option value="54">Colombia</option>
                                        <option value="57">Costa Rica</option>
                                        <option value="110">Croatia</option>
                                        <option value="77">Czech Republic</option>
                                        <option value="63">Denmark</option>
                                        <option value="67">Dominican Republic</option>
                                        <option value="68">Ecuador</option>
                                        <option value="69">Egypt</option>
                                        <option value="74">El Salvador</option>
                                        <option value="72">Estonia</option>
                                        <option value="79">Finland</option>
                                        <option value="86">France</option>
                                        <option value="96">Germany</option>
                                        <option value="100">Greece</option>
                                        <option value="99">Guam</option>
                                        <option value="101">Guatemala</option>
                                        <option value="108">Honduras</option>
                                        <option value="106">Hong Kong</option>
                                        <option value="111">Hungary</option>
                                        <option value="112">Iceland</option>
                                        <option value="115" selected="selected">India</option>
                                        <option value="113">Indonesia</option>
                                        <option value="118">Iran</option>
                                        <option value="122">Iraq</option>
                                        <option value="70">Ireland</option>
                                        <option value="119">Israel</option>
                                        <option value="120">Italy</option>
                                        <option value="125">Jamaica</option>
                                        <option value="123">Japan</option>
                                        <option value="130">Kenya</option>
                                        <option value="137">Kuwait</option>
                                        <option value="139">Laos</option>
                                        <option value="141">Latvia</option>
                                        <option value="140">Lebanon</option>
                                        <option value="149">Libya</option>
                                        <option value="142">Lithuania</option>
                                        <option value="148">Luxembourg</option>
                                        <option value="170">Malaysia</option>
                                        <option value="151">Martinique</option>
                                        <option value="169">Mexico</option>
                                        <option value="161">Monaco</option>
                                        <option value="178">Netherlands</option>
                                        <option value="186">New Zealand</option>
                                        <option value="185">Nicaragua</option>
                                        <option value="177">Nigeria</option>
                                        <option value="132">North Korea</option>
                                        <option value="180">Norway</option>
                                        <option value="192">Pakistan</option>
                                        <option value="194">Panama</option>
                                        <option value="187">Paraguay</option>
                                        <option value="189">Peru</option>
                                        <option value="204">Philippines</option>
                                        <option value="193">Poland</option>
                                        <option value="195">Portugal</option>
                                        <option value="199">Qatar</option>
                                        <option value="203">Romania</option>
                                        <option value="205">Russia</option>
                                        <option value="207">Saudi Arabia</option>
                                        <option value="200">Serbia</option>
                                        <option value="217">Singapore</option>
                                        <option value="144">Slovakia</option>
                                        <option value="214">Slovenia</option>
                                        <option value="211">South Africa</option>
                                        <option value="135">South Korea</option>
                                        <option value="219">Spain</option>
                                        <option value="45">Sri Lanka</option>
                                        <option value="223">Sweden</option>
                                        <option value="226">Switzerland</option>
                                        <option value="225">Syrian Arab Republic</option>
                                        <option value="240">Taiwan</option>
                                        <option value="229">Thailand</option>
                                        <option value="227">Trinidad and Tobago</option>
                                        <option value="236">Tunisia</option>
                                        <option value="238">Turkey</option>
                                        <option value="244">Ukraine</option>
                                        <option value="6">United Arab Emirates</option>
                                        <option value="2">United Kingdom</option>
                                        <option value="1">United States</option>
                                        <option value="246">Uruguay</option>
                                        <option value="249">Venezuela</option>
                                        <option value="251">Vietnam</option>
                                        <option value="252">Virgin Islands (US)</option>
                                        <option value="261">Yemen</option>
                                        <option value="263">Zimbabwe</option>
                                    </select>
                                </div>
                                <br>
                                <label class="control-label" for="employerCountryName">Job Location - City</label>
                                <div class="controls">
                                    <input class="input-medium" type="text" name="employerCityName" size="25" value="" id="employerCityName"/>
                                    <span class="help-block">(optional)</span>
                                </div>
                                <br>
                                <div class="controls">
                                    <button class="btn btn-primary" id="showReview">Review ${_companyReview?.orgName}</button>
                                </div>
                            </div>
                        </fieldset>
                    </td>
                </tr>
            </table>
        </div>
    #{/form}
    </div>
</div>