#{extends 'main.html' /}
#{set title:'Cube-talk.com Companies' /}

<div id="content">
    <div class="section-header">
        Companies listed in ${category}
    </div>
        #{  if categoryCompanies.size()>0 }
        <div class="section-overview">
            <table class="tableData">
                %{  z=0
                maxrows = (categoryCompanies.size()/3);
                for(i=0;i<maxrows;i++){
                %}
                <tr>
                    %{  for(j=0;j<3;j++){

                    %}
                    <td>
                        <a href="/companies/show/${categoryCompanies.get(z).toString().slugify()}">${categoryCompanies.get(z)}</a>
                    </td>
                    %{
                    z++;
                    }
                    }%
                </tr>
                %{
                }
                }%
            </table>
        </div>
        #{/if}
        #{else}
        <div class="section-overview">
            No Companies registered yet.<br>
            If you would like to get your organization listed here, please drop us a email at admin@cube-talk.com with details.
        </div>
        #{/else}
</div>