#{extends 'main.html' /}
#{set title:'Cube-talk.com Companies' /}
#{set meta:'Articles, Mobile, Tech, Testing, Agile, Company salaries, reviews, and more - all posted anonymously by employees and job seekers' /}

<div class="row-fluid">
    <div class="span8">
        #{if topReviewed.size() > 0}
            <div class="page-header">
                <h1>Top Reviewed Companies</h1>
            </div>
            <table class="table">
                %{  maxrows = (int) Math.ceil((double)topReviewed.size()/2);
                z=0
                for(i=0;i<maxrows;i++){
                %}
                <tr>
                    %{
                    for(j=0;j<5;j++){
                    %}
                    #{if z < topReviewed.size()}
                    <td>
                        <p><a href="/companies/show/${topReviewed.get(z).toString().replace(' ', '-')}">${topReviewed.get(z)}</a></p>
                    </td>
                    %{z++;}%
                    #{/if}
                    %{
                    }
                    }%
                </tr>
                %{
                }
                }%
            </table>
        #{/if}
        <br>
        #{if cubeReviewsList}
            <h2>Latest Reviews</h2>
                <table class="table table-striped">
                    #{list items:cubeReviewsList, as:'reviews'}
                        <tr>
                            <td>
                                <p>
                                    ${reviews.anonymousUser.job_title} at ${reviews.company.orgName} on ${reviews.created_on.format('dd MMM yyyy')}
                                    <br>
                                    "${reviews.review_heading}" - <a href="/companies/show/${reviews.company.toString()}">Full Review</a>
                                </p>
                            </td>
                        </tr>
                    #{/list}
                </table>
        #{/if}
        <br>
        <h2>By Industry</h2>
            <table class="table">
                %{  maxrows = (int) Math.ceil((double)companyCategories.size()/2);
                cat=0
                for(ii=0;ii<maxrows;ii++){
                %}
                <tr>
                    %{    for(jj=0;jj<2;jj++){
                    %}
                    #{if cat < companyCategories.size()}
                    <td>
                       <p><a href="/companies/category/${companyCategories.get(cat).toString().replace(' ', '-')}">${companyCategories.get(cat)}</a></p>
                    </td>
                    %{cat++;}%
                    #{/if}
                    %{
                    }
                    }%
                </tr>
                %{
                }
                }%
            </table>
        <p><br>To add your organization, please email us at admin@cube-talk.com.</p>
    </div>
    <div class="span4">
        #{rightpanel articles:topViewed,  homePageReview:cubeReviewsList, as:'home' /}
    </div>
</div>