#{extends 'main.html' /}
#{set title:'Cube-talk.com Companies' /}

<div id="left">
    #{if topReviewed.size() > 0}
    <div class="section-header">
        Top Reviewed Companies
    </div>
    <div class="section-overview">
        <table class="tableData">
            %{  maxrows = (int) Math.ceil((double)topReviewed.size()/2);
                z=0
                for(i=0;i<maxrows;i++){
            %}
                    <tr>
                    %{
                        for(j=0;j<5;j++){
                    %}
                        #{if topReviewed.size() > z}
                        <td>
                            <a href="/companies/${topReviewed.get(z).toString().slugify()}">${topReviewed.get(z)}</a>
                        </td>
                        #{/if}
                    %{
                        z++;
                    }
                        }%
                    </tr>
            %{
                }
            }%
        </table>
    </div>
    #{/if}
    <br>
    #{if cubeReviewsList}
        <div class="section-header">
            Latest Reviews
        </div>
    <table class="tableData">
        #{list items:cubeReviewsList, as:'reviews'}
        <tr>
            <td>
                <div class="review-header">
                    ${reviews.anonymousUser.job_title} at ${reviews.company.orgName} on ${reviews.created_on.format('dd MMM yyyy')}
                    <br>
                    "${reviews.review_heading}" - <a href="/companies/${reviews.company.toString()}">Full Review</a>
                </div>
            </td>
        </tr>
        #{/list}
    </table>
    #{/if}
    <br>
    <div class="section-header">
         By Industry
    </div>
    <div class="section-overview">
     <table class="tableData">
        %{  maxrows = (int) Math.ceil((double)companyCategories.size()/4);
            cat=0
            for(ii=0;ii<maxrows;ii++){
        %}
        <tr>
            %{    for(jj=0;jj<2;jj++){
            %}
                <td>
                    <div class="category-text">
                        <a href="/companies/category/${companyCategories.get(cat).toString().replace(' ', '-')}">${companyCategories.get(cat)}</a>
                    </div>
                </td>
            %{
                cat++;
                }
            }%
        </tr>
        %{
        }
        }%
     </table>
    </div>

    <div class="note">
        <br>
        To add your oranization, please email us at admin@cube-talk.com.
    </div>
</div>
<div id="right">
        #{if topViewed}
                #{toparticlelist articles:topViewed, as:'home' /}
        #{/if}
        #{else}
                <div class="empty">
                    There is currently nothing to read here2.
                </div>
        #{/else}
        <br>
        #{if cubeReviewsList}
                #{homepagereview homePageReview:cubeReviewsList /}
        #{/if}
        #{else}
                <div class="empty">
                    There is currently nothing to read here4.
                </div>
        #{/else}
</div>