#{extends 'main.html' /}
#{set title:'Cube-talk.com Companies' /}

<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="span10">
        <div class="page-header">
            <h2><a href="/companies/show/${company.orgName.replace(' ','-')}">${company.orgName}</a></h2>
        </div>
        <div class="well">
            ${company.overview.nl2br()}
            #{if company.companyReviews.size() == 0}
            <br>
            <p><h4>Be the first to review <a href="/Experiences/yoursay/${company?.orgName.toLowerCase()}">${company.orgName}</a></h4></p>
            #{/if}
            #{else}
            <br>
            <p><h4>Whats your say on <a href="/Experiences/yoursay/${company?.orgName.toLowerCase()}">${company.orgName}</a></h4></p>
            #{/else}
            #{if company.companyRatings.size() > 0}
            <div class="company-graph">
                <br>
                <canvas id="myPie" width="500" height="250">[No canvas support]</canvas>
                <!--<div style="float: right; margin-right: 100px; margin-top: 50px;">Whats your say on <a title="Review ${company.orgName}" href="/experiences/yoursay/${company?.orgName.toLowerCase()}">${company.orgName}?</a></div>-->
            </div>
            ${company.getRatingGraph(company.companyRatings).raw()}
            #{/if}
            #{if company.companyReviews.size() > 0}
                <p><h4>Reviews (${company.companyReviews.size()})</h4></p>
                <table>
                    #{list items:company.companyReviews, as:'reviews'}
                    <tr>
                        <td>
                            <p><h5>${reviews.anonymousUser.job_title} at ${reviews.company.orgName}</h5></p>
                            "${reviews.review_heading}"
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <h5>My Say:</h5> ${reviews.company_advice}<br>
                                <h5>Pros:</h5> ${reviews.company_pro}<br>
                                <h5>Cons:</h5> ${reviews.company_con}
                            </p>
                        </td>
                    </tr>
                    #{/list}
                </table>
            #{/if}
        </div>
        #{if similarCompanies}
        Similar Companies<br>

        #{list items:similarCompanies, as:'companies'}
        ${companies.orgName}
        #{/list}

        #{/if}
    </div>
</div>