#{extends 'main.html' /}
#{set title:'Cube-talk.com Companies' /}

<div id="one-column">
    <div class="section-overview">
        <div class="company">
            <div class="company-header">
                <a href="companies/${company.orgName.slugify()}">${company.orgName}</a>
            </div>
            <div class="company-intro">
        <span class="detail">${company.overview.nl2br()}
            #{if company.companyReviews.size() == 0}
                <p>Be the first to review <a href="/Experiences/postExperience/${company?.orgName}">${company.orgName}</a></p>
            #{/if}
            #{if company.companyRatings.size() > 0}
            <div class="company-graph">
                <br>
                <canvas id="myPie" width="500" height="250">[No canvas support]</canvas>
                <div style="float: right; margin-right: 100px; margin-top: 50px;">Whats your say on <a title="Review ${company.orgName}" href="/Experiences/postExperience/${company?.orgName}">${company.orgName}?</a></div>
            </div>
                ${company.getRatingGraph(company.companyRatings).raw()}
            #{/if}
        </span>
            </div>

            #{if company.companyReviews.size() > 0}
            <div class="company-teaser">
                <div class="section-subheader">Reviews (${company.companyReviews.size()})</div>
                #{list items:company.companyReviews, as:'reviews'}
                <div class="review-header">
                    ${reviews.anonymousUser.job_title} at ${reviews.company.orgName}
                    <div class="review-subheader">"${reviews.review_heading}"</div>
                </div>

                <div class="review">
                    <p>
                        My Say: ${reviews.company_advice}<br>
                        Pros: ${reviews.company_pro}<br>
                        Cons: ${reviews.company_con}
                    </p>
                    <hr width="300px" align="left">
                </div>
                #{/list}
            </div>
            #{/if}
        </div>
    </div>
</div>