<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher:'c2c155e6-717b-410b-8a0b-7565ad5d972b'});</script>

<div class="article ${_as == 'teaser' ? 'teaser' : ''}">

    <h2 class="article-title">
        <a href="/articles/${_article.title.slugify()}">${_article.title}</a>
    </h2>
    <div class="article-metadata">
        <span class="article-author">&nbsp;&nbsp;by ${_article.author.firstName}</span>,
        <span class="article-date">${_article.submit_date.format('dd MMM yyyy')}</span>
        <span  class='st_twitter_hcount' displayText='Tweet'></span><span  class='st_facebook_hcount' displayText='Facebook'></span><span  class='st_fblike_hcount' ></span><span  class='st_plusone_hcount' ></span>
        #{if _as != 'full'}
            <span class="article-comments">
                &nbsp;-&nbsp; ${_article.comments.size() ?: 'no'}
                comment${_article.comments.size().pluralize()}
                #{if _article.comments}
                    , latest by ${article.comments[0].userAlias}
                #{/if}
            </span>
        #{/if}
    </div>
    #{if _as != 'teaser'}
        <div class="article-content">
            <div class="about">Detail: </div>
            <img src="/Users/Jasdeep/jasdeep.png" style="float:left; margin-right: 5px;"/>
                ${_article.content.nl2br()}
            <br/>
        </div>
    #{/if}

</div>
 
#{if _as == 'full'}
    <div class="comments">
        <h3>
            ${_article.comments.size() ?: 'no'} 
            comment${_article.comments.size().pluralize()}
        </h3>
        
        #{list items:_article.comments, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">by ${comment.userAlias},</span>
                    <span class="comment-date">
                        ${comment.created_on.format('dd MMM yy')}
                    </span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    ${comment.comment.escape().nl2br()}
                </div>
            </div>
        #{/list}

        <h3>Post a comment</h3>

            #{form @articles.postComment(_article.id)}
                <p>
                    ${session.get("userAlias")}
                </p>
                <p>
                    <label for="content">comment: </label>
                    <textarea name="content" id="content" rows="4" cols="50"></textarea>
                </p>
                <p>
                    <input type="submit" value="Post comment" />
                </p>
            #{/form}

    </div>
#{/if}