<div class="row-fluid">
    <div class="brand">
        <h3>
            <a href="companies/show/${_homeCompany.orgName.replace(' ','-')}">${_homeCompany.orgName}</a>
        </h3>
    </div>
    <p>
        <span class="detail">${_homeCompany.overview.substring(0,300).nl2br()}... <a href="companies/show/${_homeCompany.orgName.replace(' ','-')}">Read more -></a>
          <!--<img src="http://chart.apis.google.com/chart?chf=bg,lg,0,EFEFEF,0,BBBBBB,1&chs=400x225&cht=p&chco=700000|800000|FFFFFF|009900|007000&chds=0,95&chd=t:${_homeCompany.getRatingGraph(_homeCompany.companyRatings)}&chl=Very+Dissatisfied|Dissatisfied|Neutral|Satisfied|Very+Satisfied&chtt=Company+Name" />-->
        <div class="thumbnails">
            <canvas id="myPie" width="500" height="250">[No canvas support]</canvas>
          ${ _homeCompany.getRatingGraph(_homeCompany.companyRatings).raw()}
        </div>
        </span>
    </p>
    <p>
       #{list items:_homeCompany.companyReviews, as:'reviews'}
       <div class="teaser-header">
           ${reviews.anonymousUser.job_title} at ${reviews.company.orgName}
        </div>
        <div class="teaser-metadata">
            "${reviews.review_heading}"
        </div>
        <div class="teaser-detail">
              <div class="highlight">I say<span> - ${reviews.company_advice}</span></div>
        </div>
        <hr>
        #{/list}
    </p>
</div>