*{ Display a article in one of these modes: 'full', 'home' or 'teaser' }*

#{list items:_article, as:'articleList'}
<div class="article">
    <h2 class="article-title">
        <a href="/articles/show/${articleList.title.replace(' ','-')}">${articleList.title}</a>
    </h2>
    <div class="article-metadata">
        <span class="article-author">by ${articleList.author.firstName}</span>,
        <span class="article-date">${articleList.submit_date.format('dd MMM yyyy')}</span>
        <span class="article-comments">
            %{vcomments = 0}%
            #{list items:articleList.comments, as:'validComments'}
             #{if validComments.approved}
                %{ vcomments++}%
             #{/if}
            #{/list}
            ${vcomments ?: 'no'} comment${vcomments.pluralize()} , latest by ${articleList.comments[0].userAlias}</span>
    </div>
    #{if _as != 'teaser'}
        <div class="article-content">

            <img src="/Users/Jasdeep/jasdeep.png" style="float:left; margin-right: 5px;"/>
            #{if articleList.content.length() > 350}
                ${articleList.content.substring(0,350).nl2br()}
            #{/if}
            #{else}
            ${articleList.content}
            #{/else}<br/>
            <a href="/articles/show/${articleList.title.replace(' ','-')}"><span class="pointer">Read More</span></a>
        </div>
    #{/if}
</div>

#{if _as == 'full'}
<div class="comments">
    #{list items:_article.comments, as:'comment'}
    #{if comment.approved}
    <div class="comment-metadata">
        <span class="comment-author">by ${comment.userAlias},</span>
                    <span class="comment-date">
                        ${comment.created_on.format('dd MMM yy')}
                    </span>
    </div>
    <div class="comment-content">
        <div class="about">Detail: </div>
        ${comment.comment.escape().nl2br()}
    </div>
    #{/if}
    #{/list}

    <div class="section-header">
        Have your say
        <div class="section-overview">
            #{form @articles.postComment(_article.id)}
            <table class="tableData">
                <tr><td align="right">Name:</td><td align="left"><input type="text" class="inputField" id="userName" name="userName"></td></tr>
                <tr><td align="right">Email:</td><td align="left"><input type="text" class="inputField" id="userEmail" name="userEmail"></td></tr>
                <tr><td align="right">your comment:</td><td><textarea name="content" id="content" rows="4" cols="50" class="inputField"></textarea></td></tr>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr><td colspan="2"><input type="submit" value="Post Comment" /></td></tr>
            </table>
            #{/form}
        </div>

    </div>
</div>
#{/if}
#{/list}