*{ Display a article in one of these modes: 'full', 'home' or 'teaser' }*

<div class="row-fluid">
    <div class="span">
        #{list items:_article, as:'articleList'}
            <div class="brand">
                <h2>
                    <a href="/articles/show/${articleList.title.replace(' ','-')}">${articleList.title}</a>
                </h2>
            </div>
            <h5>by ${articleList.author.firstName} on ${articleList.submit_date.format('dd MMM yyyy')}, %{vcomments = 0}%
                #{list items:articleList.comments, as:'validComments'}
                #{if validComments.approved}
                %{ vcomments++}%
                #{/if}
                #{/list}
                ${vcomments ?: 'no'} comment${vcomments.pluralize()}</h5>

            #{if _as != 'teaser'}
                <p>
                    <div class="pics">#{if articleList.articleImage.length() > 0}<img src="@{Articles.getPicture(articleList.id)}" />#{/if}</div>
                    #{if articleList.content.length() > 350}
                    ${articleList.content.substring(0,350).nl2br()}
                    #{/if}
                    #{else}
                    ${articleList.content}
                    #{/else}<br/>
                    <a href="/articles/show/${articleList.title.replace(' ','-')}">Read More</a>
                </p>

            #{/if}

            #{if _as == 'full'}
                <div class="well">
                    <table class="table">
                        <tbody>
                            #{list items:_article.comments, as:'comment'}
                            #{if comment.approved}
                            <tr>
                                <td>
                                    <h5>
                                        by ${comment.userAlias}, ${comment.created_on.format('dd MMM yy')}
                                    </h5>
                                    <p>
                                        ${comment.comment.escape().nl2br()}
                                    </p>
                                </td>
                            </tr>
                            #{/if}
                            #{/list}
                        </tbody>
                    </table>

                    <div class="well">
                        <p>Have your say</p>
                        <div class="section-overview">
                            #{form @articles.postComment(_article.id), class:'form-vertical'}
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="userName">Name</label>
                                    <div class="controls">
                                        <input type="text" class="input-medium" id="userName" name="userName">
                                    </div>
                                    <label class="control-label" for="userEmail">Email</label>
                                    <div class="controls">
                                        <input type="text" class="input-medium" id="userEmail" name="userEmail">
                                    </div>
                                    <label class="control-label" for="content">Your Comment</label>
                                    <div class="controls">
                                        <textarea name="content" id="content" rows="4" cols="50" class="input-medium"></textarea>
                                    </div>
                                    <div class="controls">
                                        <button type="submit" class="btn btn-primary">Post Comment</button>
                                    </div>
                                </div>
                            </fieldset>
                                <tr><td colspan="2"></td></tr>
                            </table>
                            #{/form}
                        </div>

                    </div>
                </div>
            #{/if}
        #{/list}
    </div>
</div>