<div class="content">
    <div class="widget-box">
        <div class="header">
            Latest Reviews
        </div>
       #{list items:_homePageReview, as:'reviews'}
       <div class="text">
           ${reviews.company.orgName} - ${reviews.review_heading}
        </div>
        <div class="widget-metadata">
            by ${reviews.anonymousUser.job_title}
        </div>
        <br>
        <div class="widget-detail">
           Good: ${reviews.company_pro}
            <br>
           Bad: ${reviews.company_con}
        </div>
        #{/list}
    </div>
</div>