<div class="content">
    <div class="widget-box">
        <div class="header">
            Latest Reviews
        </div>
       #{list items:_homePageReview, as:'reviews'}
       <div class="text">
           ${reviews.anonymousUser.job_title} at ${reviews.company.orgName}
        </div>
        <div class="widget-metadata">
            "${reviews.review_heading}"
        </div>
        <br>
        <div class="widget-detail">
           Pros: ${reviews.company_pro}
            <br>
           Cons: ${reviews.company_con}
        </div>
        <hr>
        #{/list}
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
        $(function() {
        $( "input:submit, button").button();
        });
        });
    </script>
</div>
<div class="content">
    <div class="section-header">
        Search Company
    </div>
    <div class="section-overview">
        #{form @Experiences.saveReview(), id:'searchForm'}
        <table class="tableData">
            <tr>
                <td>
                    <input type="text" class="inputField" id="searchCompany" name="searchCompany" size="25" value="Company Name" onfocus="javascript:searchCompany.value='';">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div class="demo">
                        <input type="submit" value="Search">
                    </div>
                </td>
            </tr>
        </table>
        #{/form}
    </div>
</div>