<div class="content">
    <div class="widget-box">
        <div class="header">
            Latest Reviews
        </div>
       #{list items:_homePageReview, as:'reviews'}
       <div class="text">
           ${reviews.anonymousUser.job_title} at ${reviews.company.orgName}
        </div>
        <div class="widget-metadata">
            "${reviews.review_heading}"
        </div>
        <br>
        <div class="widget-detail">
           Pros: ${reviews.company_pro}
            <br>
           Cons: ${reviews.company_con}
        </div>
        <hr>
        #{/list}
    </div>
</div>