#{list items:_article, as:'articleList'}
<div class="article">
    <h2 class="article-title">
        <a href="/articles/${articleList.title.slugify()}">${articleList.title}</a>
    </h2>
    <div class="article-metadata">
        <span class="article-author">by ${articleList.author.firstName}</span>,
        <span class="article-date">${articleList.submit_date.format('dd MMM yyyy')}</span>
        #{if _as != 'full'}
            <span class="article-comments">
                &nbsp;-&nbsp; ${articleList.comments.size() ?: 'no'}
                comment${articleList.comments.size().pluralize()}
                #{if articleList.comments}
                    , latest by ${articleList.comments[0].userAlias}
                #{/if}
            </span>
        #{/if}
    </div>
    #{if _as != 'teaser'}
    <div class="article-content">
        <div class="about">Detail: </div>
        <img src="/Users/Jasdeep/jasdeep.png" style="float:left; margin-right: 5px;"/>
        #{if articleList.content.length() > 350}
        ${articleList.content.substring(0,350).nl2br()}
        #{/if}
        #{else}
        ${articleList.content}
        #{/else}<br/>
        <a href="/articles/${articleList.title.slugify()}"><span class="pointer">Read More</span></a>
    </div>
    #{/if}
</div>
#{/list}
#{if _pages > 1}
    <div class="pagination">
        #{list items:1.._pages, as:'i'}
        <a href="/articles/${i}">
            ${i}
        </a>
        #{/list}
    </div>
#{/if}
