<div class="row-fluid">
<table class="table">
    #{list items:_article, as:'articleList'}
        <tr>
            <td>
                <h2><a href="/articles/show/${articleList.title.replace(' ','-')}">${articleList.title}</a></h2>
                <h5>by ${articleList.author.firstName}, ${articleList.submit_date.format('dd MMM yyyy')}&nbsp;&nbsp;
                    ${articleList.comments.size() ?: 'no'}
                    comment${articleList.comments.size().pluralize()}
                    #{if articleList.comments}
                    , latest by ${articleList.comments[0].userAlias}
                    #{/if}
                </h5>
               <p><img src="/Users/Jasdeep/jasdeep.png" style="float:left; margin-right: 5px;"/>
                   #{if articleList.content.length() > 350}
                   ${articleList.content.substring(0,350).nl2br()}...
                   #{/if}
                   #{else}
                   ${articleList.content}
                   #{/else}<br/>
                   <a href="/articles/show/${articleList.title.replace(' ','-')}">Read More</a></p>

            </td>
        </tr>
    #{/list}
</table>
</div>

#{if _pages > 1}
    <div class="pagination">
        #{list items:1.._pages, as:'i'}
        <a href="/articles/${i}">
            ${i}
        </a>
        #{/list}
    </div>
#{/if}
