<script type="text/javascript" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
        xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
        xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
$(document).ready(function(){
    $(function() {
        $('#content_2').hide();
        $('#content_3').hide();
	});

    $("form#cubeReviewForm").submit(function(){
        var q1 = $('#q1').attr('value');
        var a1 = $('#a1:checked').val();
        var form_data = "reviewType="+reviewType.value +"&job_status="+job_status.value+"&jobEndingYear="+jobEndingYear.value+"&employerId="+employerId.value+"&employerCountryName="+employerCountryName.value+"&employerCityName="+employerCityName.value+"&job_title="+job_title.value+"&headlineAnswer="+headlineAnswer.value+"&proAnswer="+proAnswer.value+"&conAnswer="+conAnswer.value+"&adviceAnswer="+adviceAnswer.value;
        $.ajax({
                type: "POST",
                url: "saveReview1",
                data: form_data,
                success: function(){
                    $('form#cubeReviewForm').hide(function(){$('div.success').fadeIn();});
                }
            });
        return false;
    });

    $('#showReview').click(function() {
        $('#content_1').hide();
        $('#content_2').show();
        return false;
        });

    $('#showRating').click(function() {
        var jobtitle=$('#job_title').attr('value');
        var headlineAnswer=$('#headlineAnswer').attr('value');
        var proAnswer=$('#proAnswer').attr('value');
        var conAnswer=$('#conAnswer').attr('value');
        var adviceAnswer=$('#adviceAnswer').attr('value');
        if(jobtitle.length == 0){
            $("div.error").html("Please enter your Job Title");alert("I am here");}
        else if(headlineAnswer == 0){
            $("div.error").html("Please enter your Experience");alert("i am here1");}
        else if(proAnswer.length == 0){
            $("div.error").html("Please enter your positive Experience");alert("i am here2");}
        else if(conAnswer.length == 0){
            $("div.error").html("Please enter your negative Experience");alert("i am here3");}
        else if(adviceAnswer.length == 0){
            $("div.error").html("Please enter your Advice");alert("i am here4");}
        else{
            $('#content_2').hide();$('#content_3').show();
        }
        return false;
        });

    $('#tab_3').click(function() {
        $('#content_1').hide();
        $('#content_2').show();
        return false;
        });

    $('#goBack').click(function() {
        $('#content_2').hide();
        $('#content_1').show();
        return false;
        });

    $('#tab_3back').click(function() {
        $('#content_3').hide();
        $('#content_2').show();
        return false;
        });
});
</script>

<div class="row-fluid">
    <div class="span8">
        <div class="page-header">
            <h2><strong>Review and Rate your company anonymously</strong></h2>
        </div>
        #{form @Experiences.saveReview(), id:'cubeReviewForm', class:'form-horizontal'}

        <div id="content_1" class="tab-pane">
            <h3>Review anonymously...</br>
                <small>(You don't even have to tell us your job title or city)</small>
            </h3>
            <div class="well">
                <table>
                    <thead>
                    <tr>
                        <th>
                            <p> Review anonymously...</br>
                                <small>(You don't even have to tell us your job title or city)</small>
                            </p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="reviewType">Company Review</label>
                                    <div class="controls">
                                        <input type="radio" class="input-medium" checked="true" name="reviewType" id="reviewType" value="CompanyReview">
                                    </div>
                                    <br>
                                    <label class="control-label">Job Status</label>
                                    <div class="controls">
                                        <label class="inline radio">
                                            <input type="radio" name="jobStatus" id="job_status1" value="employer" checked="true">Current Employer</input>
                                        </label>
                                        <label class="inline radio">
                                            <input type="radio" name="jobStatus" id="job_status2" value="ex-employer">Ex-Employer</input>
                                        </label>
                                    </div>
                                    <br>
                                    <label class="control-label" for="jobEndingYear">Job Ending Year</label>
                                    <div class="controls">
                                        <select class="input-medium" name="jobEndingYear" id="jobEndingYear">
                                            <option value="1">-- Please Select --</option>
                                            <option value="2012" selected="selected">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                        </select>
                                    </div>
                                    <br>
                                    <label class="control-label" for="employerName">Employer</label>
                                    <div class="controls">
                                        <input class="input-medium" type="text" name="employerName" value="${_companyReview?.orgName}" id="employerName" size="25" disabled="true "/>
                                        <input class="input-medium" type="hidden" name="employerId" value="${_companyReview?.id}" id="employerId"/>
                                    </div>
                                    <br>
                                    <label class="control-label" for="employerCountryName">Job Location - Country</label>
                                    <div class="controls">
                                        <select class="input-medium" name="employerCountryName" tabindex="23" id="employerCountryName">
                                            <option value="7">Afghanistan</option>
                                            <option value="10">Albania</option>
                                            <option value="8">Algeria</option>
                                            <option value="14">American Samoa</option>
                                            <option value="15">Argentina</option>
                                            <option value="11">Armenia</option>
                                            <option value="4">Aruba</option>
                                            <option value="16">Australia</option>
                                            <option value="18">Austria</option>
                                            <option value="26">Bahamas</option>
                                            <option value="21">Bahrain</option>
                                            <option value="27">Bangladesh</option>
                                            <option value="33">Belarus</option>
                                            <option value="25">Belgium</option>
                                            <option value="24">Bermuda</option>
                                            <option value="30">Bolivia</option>
                                            <option value="29">Bosnia and Herzegovina</option>
                                            <option value="36">Brazil</option>
                                            <option value="250">British Virgin Islands</option>
                                            <option value="39">Bulgaria</option>
                                            <option value="3">Canada</option>
                                            <option value="49">Chile</option>
                                            <option value="48">China</option>
                                            <option value="54">Colombia</option>
                                            <option value="57">Costa Rica</option>
                                            <option value="110">Croatia</option>
                                            <option value="77">Czech Republic</option>
                                            <option value="63">Denmark</option>
                                            <option value="67">Dominican Republic</option>
                                            <option value="68">Ecuador</option>
                                            <option value="69">Egypt</option>
                                            <option value="74">El Salvador</option>
                                            <option value="72">Estonia</option>
                                            <option value="79">Finland</option>
                                            <option value="86">France</option>
                                            <option value="96">Germany</option>
                                            <option value="100">Greece</option>
                                            <option value="99">Guam</option>
                                            <option value="101">Guatemala</option>
                                            <option value="108">Honduras</option>
                                            <option value="106">Hong Kong</option>
                                            <option value="111">Hungary</option>
                                            <option value="112">Iceland</option>
                                            <option value="115" selected="selected">India</option>
                                            <option value="113">Indonesia</option>
                                            <option value="118">Iran</option>
                                            <option value="122">Iraq</option>
                                            <option value="70">Ireland</option>
                                            <option value="119">Israel</option>
                                            <option value="120">Italy</option>
                                            <option value="125">Jamaica</option>
                                            <option value="123">Japan</option>
                                            <option value="130">Kenya</option>
                                            <option value="137">Kuwait</option>
                                            <option value="139">Laos</option>
                                            <option value="141">Latvia</option>
                                            <option value="140">Lebanon</option>
                                            <option value="149">Libya</option>
                                            <option value="142">Lithuania</option>
                                            <option value="148">Luxembourg</option>
                                            <option value="170">Malaysia</option>
                                            <option value="151">Martinique</option>
                                            <option value="169">Mexico</option>
                                            <option value="161">Monaco</option>
                                            <option value="178">Netherlands</option>
                                            <option value="186">New Zealand</option>
                                            <option value="185">Nicaragua</option>
                                            <option value="177">Nigeria</option>
                                            <option value="132">North Korea</option>
                                            <option value="180">Norway</option>
                                            <option value="192">Pakistan</option>
                                            <option value="194">Panama</option>
                                            <option value="187">Paraguay</option>
                                            <option value="189">Peru</option>
                                            <option value="204">Philippines</option>
                                            <option value="193">Poland</option>
                                            <option value="195">Portugal</option>
                                            <option value="199">Qatar</option>
                                            <option value="203">Romania</option>
                                            <option value="205">Russia</option>
                                            <option value="207">Saudi Arabia</option>
                                            <option value="200">Serbia</option>
                                            <option value="217">Singapore</option>
                                            <option value="144">Slovakia</option>
                                            <option value="214">Slovenia</option>
                                            <option value="211">South Africa</option>
                                            <option value="135">South Korea</option>
                                            <option value="219">Spain</option>
                                            <option value="45">Sri Lanka</option>
                                            <option value="223">Sweden</option>
                                            <option value="226">Switzerland</option>
                                            <option value="225">Syrian Arab Republic</option>
                                            <option value="240">Taiwan</option>
                                            <option value="229">Thailand</option>
                                            <option value="227">Trinidad and Tobago</option>
                                            <option value="236">Tunisia</option>
                                            <option value="238">Turkey</option>
                                            <option value="244">Ukraine</option>
                                            <option value="6">United Arab Emirates</option>
                                            <option value="2">United Kingdom</option>
                                            <option value="1">United States</option>
                                            <option value="246">Uruguay</option>
                                            <option value="249">Venezuela</option>
                                            <option value="251">Vietnam</option>
                                            <option value="252">Virgin Islands (US)</option>
                                            <option value="261">Yemen</option>
                                            <option value="263">Zimbabwe</option>
                                        </select>
                                    </div>
                                    <br>
                                    <label class="control-label" for="employerCountryName">Job Location - City</label>
                                    <div class="controls">
                                        <input class="input-medium" type="text" name="employerCityName" size="25" value="" id="employerCityName"/>
                                        <span class="help-block">(optional)</span>
                                    </div>
                                    <br>
                                    <div class="controls">
                                        <button class="btn btn-primary" id="showReview">Review ${_companyReview?.orgName}</button>
                                    </div>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    </thead>

                </table>
            </div>
        </div>

        <div id="content_2" class="tab-pane ">
            <h3>
                <strong>Review a Company</strong>
            </h3>
            <div class="well">
            <p>Your review will be posted anonymously for everyone's viewing.<br>
                To further protect your anonymity, we encourage you not to include any personally
                identifiable information in your review.
            </p>
            <fieldset>
                <div id="error" class="error"></div>
                <div class="control-group">
                    <label class="control-label" for="job_title">Your Job Title</label>
                    <div class="controls">
                        <input type="text" class="input-medium" maxlength="140" id="job_title" name="job_title"><div class="help-block">(optional)</div>
                    </div>
                    <br>
                    <div class="brand"><h4>Review Headline</h4></div>
                    <label class="control-label" for="headlineAnswer">In one sentence, how would you describe your experience at ${_companyReview?.orgName}?</label>
                    <div class="controls">
                        <textarea name="headlineAnswer" class="input-xxlarge" cols="45" rows="5" id="headlineAnswer" maxlength="150"></textarea>
                    </div>
                    <br>
                    <div class="brand"><h4>Pros</h4></div>
                    <label class="control-label" for="proAnswer">Describe some of the best reasons to work at ${_companyReview?.orgName}</label>
                    <div class="controls">
                        <textarea name="proAnswer" cols="50" rows="5" id="proAnswer" class="input-xxlarge"></textarea>
                        <div class="help-block">20 word minimum (To make it on the site)</div>
                    </div>
                    <br>
                    <div class="brand"><h4>Cons</h4></div>
                    <label class="control-label" for="conAnswer">Describe some of the downsides of working at ${_companyReview?.orgName}</label>
                    <div class="controls">
                        <textarea name="conAnswer" cols="50" rows="5" id="conAnswer"  class="input-xxlarge"></textarea>
                        <div class="help-block">20 word minimum (To make it on the site)</div>
                    </div>
                    <br>
                    <div class="brand"><h4>Advice to Management</h4></div>
                    <label class="control-label" for="adviceAnswer">Offer some advice or feedback to the leadership at ${_companyReview?.orgName}</label>
                    <div class="controls">
                        <textarea name="adviceAnswer" cols="50" rows="3" id="adviceAnswer" class="input-xxlarge"></textarea>
                        <div class="help-block">20 word minimum (To make it on the site)</div>
                    </div>
                    <br>
                    <div class="controls">
                        <button type="submit" class="btn" id="goBack">Back</button>
                        <button type="submit"class="btn btn-primary" id="showRating">Rate ${_companyReview?.orgName}</button>
                    </div>
                </div>
            </fieldset>
            </div>
        </div>

        <div id="content_3" class="tab-pane">
            <h3>Rate your Company</h3>
            <div class="well">
                <table>
                <tbody>
                <fieldset>
                    <div class="control-group">
                        #{list items:_reviewQuestions, as:'questions'}
                        <tr>
                            <td>
                                <div class="controls">
                                    <input type="hidden" name="quest${questions.id}"  id="quest${questions.id}" value="${questions.id}" />
                                </div>
                                <label class="control-label">${questions.question.replace('%s',_companyReview?.orgName)}</label>
                                <div class="controls">
                                    <label class="inline radio">
                                        <input class="radio inline" type="radio" name="a${questions.id}" id="a${questions.id}a" value="1">Strongly Disapprove</input>
                                    </label>
                                    <label class="inline radio">
                                        <input class="radio inline" type="radio" name="a${questions.id}" id="a${questions.id}b" value="2">Disapprove</input>
                                    </label>
                                    <label class="inline radio">
                                        <input class="radio inline" type="radio" name="a${questions.id}" id="a${questions.id}c" value="3">No Opinion</input>
                                    </label>
                                    <label class="inline radio">
                                        <input class="radio inline" type="radio" name="a${questions.id}" id="a${questions.id}d" value="4">Approve</input>
                                    </label>
                                    <label class="inline radio">
                                        <input class="radio inline" type="radio" name="a${questions.id}" id="a${questions.id}e" value="5">Strongly Approve</input>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        #{/list}
                        <tr>
                            <td>
                                <div class="controls">
                                    <button type="submit" class="btn" id="tab_3back">Back</button>
                                    <button type="submit" class="btn btn-primary">Submit Review</button>
                                </div>
                            </td>
                        </tr>
                    </div>
                </fieldset>
                </tbody>
            </table>
            </div>
        </div>
        #{/form}
    </div>
    <div class="span4">

    </div>
</div>