<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $.validator.methods.defaultValue = function(value, element, param){
        return value != param;
    }
    $(document).ready(function() {
    // validate signup form on keyup and submit
    var validator = $("#searchForm").validate({
    rules: {
    searchCompany: {
    required: true,
    minlength: 3,
    defaultValue: 'Company Name'
    }
    },
    messages: {
    searchCompany: {
        required: "Please enter a valid Company Name",
        minlength: "Please enter more than 3 characters",
        defaultValue: "Please enter a valid Company Name"
        }
    },
    // the errorPlacement has to take the table layout into account
    errorPlacement: function(error, element) {
    $("div.error").html(error);
    $("span.help-inline").html(error);
    $("div.control-group").addClass("error");
    },
    // specifying a submitHandler prevents the default submit, good for the demo
    submitHandler: function() {
    form.submit();
    },
    });
    });
</script>
<div class="row-fluid">
    <div class="well">
        <table class="table">
            <thead><tr><th><h2><strong>Search Company</strong></h2></th></tr></thead>
            <tr>
                <td>
                    #{form @Companies.search(), id:'searchForm', class:'form-inline'}
                    <fieldset>
                        <div id="error" class="error"></div>
                            <div class="control-group">
                                <div class="controls">
                                <input type="text" class="input-medium search-query required" id="searchCompany" name="searchCompany" value="Company Name" onfocus="javascript:searchCompany.value='';">
                                <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button>
                            </div>
                        </div>
                    </fieldset>
                    #{/form}
                </td>
            </tr>
        </table>
    </div>

    #{if _articles}
    <div class="well">
        <table class="table table-striped">
            <thead><tr><th><h2><strong>Popular Articles</strong></h2></th></tr></thead>
            <tbody>
                    #{list items:_articles, as:'article'}
                    <tr>
                        <td>
                            <h4><a href="/articles/${article.title.slugify()}">${article.title}</a></h4>
                            <h5>- by ${article.author.firstName}</h5>
                        </td>
                    </tr>
                    #{/list}
            </tbody>
            </table>
    </div>
    #{/if}

    #{if _homePageReview}
    <div class="well">
        <table class="table table-striped">
            <thead><tr><th><h2><strong>Latest Reviews</strong></h2></th></tr></thead>
            <tbody>
                    #{list items:_homePageReview, as:'reviews'}
                    <tr>
                        <td>
                            <h5>${reviews.anonymousUser.job_title} at ${reviews.company.orgName}</h5>
                            <strong>"${reviews.review_heading}"</strong>
                            <em>Pros: ${reviews.company_pro}</em>
                            <em>Cons: ${reviews.company_con}</em>
                        </td>
                    </tr>
                    #{/list}
            </tbody>
            </table>
        </div>
    #{/if}
</div>