<div class="content">
    <div class="widget-box">
        <div class="header">
            Popular Articles
        </div>
            #{list items:_articles, as:'article'}
                 <div class="text">
                     <div class="listBox">
                         <a href="/articles/${article.title.slugify()}">${article.title}</a>
                         <br>
                         <div class="widget-metadata">
                             - by ${article.author.firstName}
                         </div>
                     </div>
                     <br><hr>
                 </div>
            </br>
            #{/list}
    </div>
</div>