#{extends 'main.html' /}
#{set title:'Express your Experience' /}
<div class="content">
    <div class="section-header">
        <p align="center">No Results for your search</p>
    </div>
    <div class="section-overview">
        #{ifErrors}
        <p class="error" align="center">
            #{errors}
            ${error.message("search")}<br>
            #{/errors}
        </p>
        #{/ifErrors}
        <p>Try another keyword in the search box.</p>
        <p>Did we miss your company? Email us at admin@cube-talk.com</p>

    </div>
</div>