#{extends 'main.html' /}
#{set title:'About Cube-Talk' /}

<div class="content">
    <div class="section-header">
        <p>About Us</p>
    </div>
    <div id="section-subheader">
        <h3>What is Cube-Talk?</h3>
    </div>
    <div class="section-overview">
    <p>Cube-Talk is a free community where anyone can find and anonymously share an inside look at jobs and companies.
    What sets us apart is that all our information comes from current and former employees, interview candidates, and
    even the companies themselves. Now with more than a million salaries, company reviews, interview questions, office photos,
    and more, you have all the information you'll need to manage your career and make more informed career decisions.</p>

    <h3>Get Involved</h3>
    <p>For Employers<br>
    Tell your company's story with an Enhanced Employer Profile. Highlight your employment brand, promote your latest job listings,
    and get access to advanced analytics and competitive benchmarking. Learn More.</p>
    </div>
</div>
