#{extends 'main.html' /}
#{set title:'Feedback' /}

<div class="one-column">
    <div class="section-header">
        <span align="center">Whatever it's about, we're interested in hearing from you.</span>
    </div>
    <div class="section-overview">
        <form id="ContactForm" action="@{Application.sendEmail()}" method="post">
        <table class="tableData">
			<tbody>
				<tr>
					<td width="20%" align="right">
						<label for="writingAbout" id="writingAboutLabel">I am writing about :</label>
					</td>
					<td width="57%" align="left">
                        <select name="writingAbout" id="writingAbout" class="inputField">
                            <option value="feedback" selected="true">Feedback</option>
                            <option value="companyInformation">Company Information</option>
                            <option value="pressInquiry">Press Inquiry</option>
                            <option value="partnershipInquiry">Partnership Inquiry</option>
                            <option value="advertising">Advertising</option>
                            <option value="content">Inappropriate Content</option>
                            <option value="other">Other</option>
                        </select>
                    </td>
				</tr>
				<tr>
					<td  align="right">
						<label for="UserName">Name :</label>
					</td>
					<td align="left">
                        <input name="userName" type="text" class="inputField" id="userName" value="" size="30" maxlength="30">
                    </td>
				</tr>
				<tr>
					<td  align="right">
						<label for="UserEmail">Email :</label>

					</td>
					<td align="left">
                        <input name="userEmail" type="text" class="inputField" id="userEmail" value="" size="30" maxlength="50">
                    </td>
				</tr>
				<tr>
					<td  align="right">
						<label for="contactSubject">Subject :</label>
					</td>
					<td align="left">
                        <input name="subject" type="text" class="inputField" id="contactSubject" value="" size="60" maxlength="100">
                    </td>
				</tr>
				<tr>
					<td  align="right">
						<label for="userMessage">Message :</label>
					</td>
					<td align="left">
                        <textarea name="userMessage" cols="60" rows="5" id="userMessage" class="inputField"></textarea>
                    </td>
				</tr>
			</tbody>
			<tbody>
            <tr>
				<td colspan="2" align="center">
			        <span><button type="submit" value="Send"><i class="icon-envelope"></i>Send</button></span>
			        <div class="clear"></div>
                </td>
            </tr>
            </tbody>
            </table>
        </form>
    </div>
</div>