#{extends 'main.html' /}
#{set title:'Feedback' /}

<div class="row-fluid">
    <div class="page-header">
        <h1>Whatever it's about, we're interested in hearing from you.</h1>
    </div>
    <div class="well span11">
        <form id="ContactForm" action="@{Application.sendEmail()}" method="post">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="writingAbout">I am writing about</label>
                    <div class="controls">
                        <select class="input-medium" name="writingAbout" id="writingAbout">
                            <option value="feedback" selected="true">Feedback</option>
                            <option value="companyInformation">Company Information</option>
                            <option value="pressInquiry">Press Inquiry</option>
                            <option value="partnershipInquiry">Partnership Inquiry</option>
                            <option value="advertising">Advertising</option>
                            <option value="content">Inappropriate Content</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <label class="control-label" for="userName">Name</label>
                    <div class="controls">
                        <input name="userName" type="text" class="input-medium" id="userName" value="" maxlength="30">
                    </div>
                    <label class="control-label" for="userEmail">Email</label>
                    <div class="controls">
                        <input name="userEmail" type="text" class="input-medium" id="userEmail" value="" maxlength="50">
                    </div>
                    <label class="control-label" for="subject">Subject</label>
                    <div class="controls">
                        <input name="subject" type="text" class="input-medium" id="subject" value="" size="60" maxlength="100">
                    </div>
                    <label class="control-label" for="userMessage">Name</label>
                    <div class="controls">
                        <textarea name="userMessage" cols="60" rows="5" id="userMessage" class="input-xxlarge"></textarea>
                    </div>
                    <div class="controls">
                        <button class="btn" type="submit"><i class="icon-envelope"></i> Send</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>