#{extends 'main.html' /}
#{set title:'Cube-Talk Home' /}
#{set meta:'Company salaries, reviews, and more - all posted anonymously by employees and job seekers' /}
        <div class="row-fluid">
            <div class="span8">
                #{if homePagePost.size()>0}
                #{display article:homePagePost, as:'home' /}
                #{/if}
                #{else}
                There is currently nothing to read here.
                #{/else}
                <hr/>
                #{ if homeCompany}
                #{companyDisplay homeCompany:homeCompany /}
                #{/if}
                #{else}
                There is currently nothing to read here.
                #{/else}
            </div>
            <div class="span4 pull-right">
                #{rightpanel articles:topViewed,  homePageReview:cubeReviewsList, as:'home' /}
            </div>
        </div>