#{extends 'main.html' /}
#{set title:'Cube-Talk Home' /}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span9">
                #{if homePagePost.size()>0}
                #{display article:homePagePost, as:'home' /}
                #{/if}
                #{else}
                <div class="empty">
                    There is currently nothing to read here.
                </div>
                #{/else}
                <br>
                #{ if homeCompany}
                #{companyDisplay homeCompany:homeCompany /}
                #{/if}
                #{else}
                <div class="empty">
                    There is currently nothing to read here.
                </div>
                #{/else}
            </div>
            <div class="span3">
                #{rightpanel articles:topViewed,  homePageReview:cubeReviewsList, as:'home' /}
            </div>
        </div>
    </div>