#{extends 'main.html' /}
#{set title:'Home' /}

	<div id="left">
        #{if homePagePost.size()>0}

                #{display article:homePagePost, as:'home' /}

        #{/if}
        #{else}
                <div class="empty">
                    There is currently nothing to read here.
                </div>
        #{/else}
	</div>
	<div id="right">
        #{if homePageArticleList}

                #{toparticlelist articles:homePageArticleList, as:'home' /}

        #{/if}
        #{else}
                <div class="empty">
                    There is currently nothing to read here2.
                </div>
        #{/else}
        <br>
        #{if homeCompany}

                #{homepagecompany featuredCompany:homeCompany , as:'home' /}

        #{/if}
        #{else}
                <div class="empty">
                    There is currently nothing to read here3.
                </div>
        #{/else}
        <br>
        #{if recentReview}

                #{homepagereview homePageReview:recentReview /}

        #{/if}
        #{else}
                <div class="empty">
                    There is currently nothing to read here4.
                </div>
        #{/else}
	</div>