<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.8.16.custom.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}

    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="@{Application.index()}">Cube - Talk.com</a></h1>
            </div>
            <ul id="tools">
                <li>
                    #{if !session.contains("loggedIn")}
                        <a href="@{Authenticate.signIn()}">Sign In</a> |
                    #{/if}
                    #{else}
                        <a href="@{Authenticate.signOut()}">Sign out</a> |
                    #{/else}
                    <a href="#">About Us</a> |
                    <a href="#">Feedback</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">About this blog</span>
                <!--<h1><a href="@{Application.index()}">${blogTitle}</a></h1>-->
                <h2>${blogBaseline}
                    #{if !session.contains("loggedIn")}
                        #{form @Authenticate.signIn(), id:"signInForm"}
                            <input type="text" id="userEmail" name="userEmail" value='${session.get("userAlias")}'>&nbsp;
                            <input type="password" id="userPassword" name="userPassword">&nbsp;
                            <input type=submit value="SignIn">
                        #{/form}
                    #{/if}
                    #{else}
                        <div id="userLabel">
                            hello ${session.get("userAlias")}
                        </div>
                    #{/else}
                </h2>
            </div>
            <div id="navigation">
                <ul>
                    <li><a href="@{Articles.show()}">Articles</a></li>
                    <li><a href="@{Experiences.postExperience()}">Experience</a></li>
                    <li><a href="#">Cube Rating</a></li>
                    <li><a href="@{MyCube.show()}">My Cube</a></li>
                    <li><a href="@{Users.register()}">SignUp</a></li>
                 </ul>
            </div>
        </div>

        <div id="main">
            #{doLayout /}
        </div>

        <div id="footer">
            Cube-Talk is an online tool to rate your professional experience and organization to make informed decision.
         </div>

    </body>
</html>
